body {
  background-color: #f7f7f7;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  margin-top: 60px;
  display: grid;
  justify-items: center;
  gap: 60px;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

p, h1, h2, h3 {
  margin: 0px;
}

p {
  font-size: 1.25rem;
  line-height: 1.3;
}

img {
  max-width: 100%;
  display: block;
}

.header {
  display: grid;
  justify-items: center;
  gap: 60px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.menu > li > a {
  display: block;
  color: #000000;
  background-color: #ffffff;
  padding: 1rem 2rem;
  border: 2px solid #fff;
  border-radius: 4px;
  text-decoration: none;
  text-transform: uppercase;
}

.menu > li > a:hover {
  border: 2px solid #e21;
}

.conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
}

.introducao {
  background-color: #fff;
  position: relative;
  text-align: right;
  padding: 40px;
  display: grid;
  align-content: center;
  justify-items: end;
  gap: 20px;
}

.introducao > h1 {
  font-size: 2rem;
}

.introducao::before {
  content: "";
  background: #e21;
  position: absolute;
  top: 30px;
  right: -30px;
  width: 60px;
  height: 4px;
}

.introducao > a {
  color: #fff;
  background-color: #e21;
  padding: 1rem 2rem;
  border-radius: 4px;
  text-decoration: none;
  text-transform: uppercase;
}

.introducao > a:hover {
  background-color: #900;
}

.introducao-cover > img {
  object-fit: cover;
  height: 100%;
}

.subtitulo {
  color: #c6c6c6;
  font-size: 4em;
  padding: 20px;
  text-transform: uppercase;
  place-content: center;
  text-align: end;
  background-image: url(img/onda.svg);
}

.vantagens {
  background-color: #fff;
  padding: 40px;
}

.vantagens-item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px 20px;
  padding: 20px;
  border-left: 2px solid transparent;
}

.vantagens-item:nth-child(odd) {
  background-color: #f7f7f7;
}

.vantagens-item:hover {
  border-left: 4px solid #e21;
}

.vantagens-item > p {
  grid-column: 2;
}

.rodape {
  background-color: #fff;
  width: 100%;
  font-size: 1.3em;
  padding: 50px;
  text-align: center;
  text-transform: uppercase;
  box-sizing: border-box;
}

@media (max-width: 900px) {
  body {
    margin: 30px 0px 0px 0px;
    gap: 30px;
  }

  .header {
    gap: 30px;
  }

  .menu {
    gap: 5px;
  }

  .conteudo {
    grid-template-columns: 1fr;
  }

  .introducao {
    text-align: center;
    justify-items: center;
    height: 350px;
  }

  .introducao::before {
    top: 400px;
    left: 50%;
    height: 60px;
    width: 4px;
  }

  .subtitulo {
    text-align: center;
    height: 400px;
  }
}

@media (max-width: 400px) {
  p {
    font-size: 1rem;
  }

  .subtitulo {
    font-size: 2rem;
  }
}