* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.bicicleta {
  display: flex;
  height: 600px;
  background-color: lightblue;
  background-image: url(img/bicicleta.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* background: lightblue, url(), no-repeat, cover, center */
}

h1 {
  color: #f2f2f2;
  background-color: #ffffff67;
  margin: auto;
  padding: 1rem 2rem;
  border-radius: 5px;
}

.linear {
  height: 500px;
  background-image: linear-gradient(45deg, lightblue, darkblue);
}

.radial {
  height: 500px;
  background-image: radial-gradient(circle, red, orange, green);
}