body {
  font-family: Arial, Helvetica, sans-serif;
}

ol {
  width: 500px;
  margin: 20px;
}

.lista-1 > li:first-child {
  background-color: green;
}

.lista-1 > li:last-child {
  color: white;
  background-color: red;
  font-family: 'Courier New', Courier, monospace;
}

.lista-1 > li:nth-child(3) {
  color: purple;
  background-color: pink;
}

.lista2 > li:nth-child(odd) {
  background-color: lightgray;
}

.lista3 > li:not(:first-child, :last-child) {
  background-color: lightblue;
}

h2:not(:last-child) {
  text-decoration: underline;
}