body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: rgb(126, 84, 184);
  font-size: 2.5rem;
  font-family: 'Times New Roman', Times, serif;
  position: relative;
}

h1::after {
  content: '';
  display: block;
  position: absolute;
  background: #caf;
  top: 2.5rem;
  height: 2px;
  width: 200px;
}

ul {
  list-style: none;
}

li {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

ul > li::before {
  content: '';
  display: inline-block;
  width: 5px;
  height: 5px;
  margin-right: 5px;
  background-image: linear-gradient(#caf, #fff);
  border: 1px solid #caf;
  border-radius: 50%;
}

p::first-line {
  font-weight: bolder;
}

p::first-letter {
  font-size: 2.5rem;
}