@charset "UTF-8";

body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: lightcoral;
  text-decoration: none;
  font-size: 20px;
}

h1 {
  font-size: 40px;
}

h2 > a {
  color: seagreen;
  font-size: 25px;
}

.hoje {
  color: darkred;
  font-size: 25px;
}

.amanha {
  color: darkblue;
  font-size: 25px;
}