@charset "UTF-8";

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 50px;
}

h1 {
  text-align: center;
}

div {
  background-color: rgb(1, 1, 1);
  border-radius: 4px;
  margin: 20px;
  padding: 30px;
}

h2 {
  color: white;
  margin: 0px;
}

p {
  color: #b2b2b2;
}

strong {
  color: #febe01;
}

button {
  background-color: #febe01;
  border: none;
  height: 40px;
  border-radius: 4px;
}

button:hover {
  background-color: #332200;
}

button > a {
  color: #332200;
  text-decoration: none;
  padding: 10px;
}

button > a:hover {
  color: #febe01;
}