* {
  margin: 0;
}

header {
  background-color: #eee;
  margin: 0px 0px 20px 0px;
  padding: 50px;
}

h1 {
  text-align: center;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0px 10px;
}

a {
  display: block;
  color: #000;
  background-color: #eee;
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
}