@charset "UTF-8";

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 40px;
}

h1, p {
  margin-top: 0px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: start;
  gap: 20px;
}

.titulo {
  font-size: 3em;
  grid-column: 1 / -1;
}

.foto {
  max-width: 100%;
  grid-column: span 2;
}

.info {
  display: grid;
  place-items: start;
  gap: 20px;
}

.preco {
  background-color: #ddd;
  font-size: 1.1em;
  padding: 5px 10px;
  border-radius: 4px;
}

.descricao {
  font-size: 1.2em;
}

.comprar {
  color: #103;
  background: #a8f;
  text-align: center;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 4px;
}