@charset "UTF-8";

body {
  background-color: rgb(210, 217, 250);
}

h1 {
  color:blueviolet;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: black;
}