a {
  display: inline-block;
  color: #ffffff;
  background-color: #008cff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  margin: 10px;
  padding: 1rem 2rem;
  text-decoration: none;
  transition: .3s;
}

a:hover {
  border-radius: 8px;
}

a:focus {
  border: 2px solid darkblue;
  outline: none;
}

a:active {
  background-color: greenyellow;
}

/* a:visited {
  color: black;
  background-color: yellow;
} */